/* product.css */

/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #936868;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #b38c8c;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.back-arrow a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
    width: 250px;
}

.search-bar button {
    padding: 10px;
    font-size: 16px;
    background-color: #ac4444;
    border: none;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #ac4444;
}

.cart-icon a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    position: relative;
}

.cart-icon #cart-count {
    background-color: #ff6b6b;
    color: #fff;
    border-radius: 50%;
    padding: 4px 8px;
    font-size: 14px;
    position: absolute;
    top: -10px;
    right: -10px;
}

main {
    padding: 20px;
}

.book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.book-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.book-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.book-item h3 {
    font-size: 18px;
    margin: 10px 0;
}

.book-item p {
    font-size: 16px;
    color: #ff6b6b;
    margin-bottom: 10px;
}

.quantity-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.quantity-controls button {
    padding: 5px 10px;
    font-size: 16px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    cursor: pointer;
}

.quantity-controls button:hover {
    background-color: #e0e0e0;
}

.quantity-controls input[type="text"] {
    width: 40px;
    text-align: center;
    border: 1px solid #ccc;
    margin: 0 5px;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #fff;
    outline: none;
}

.add-to-cart {
    padding: 10px 20px;
    background-color: #f56969;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-to-cart:hover {
    background-color: #f56969;
}



